body {
    margin: 0;
    font-family: monospace;
}

.header {
    padding: 25px;
    text-align: center;
    background: #29353a;
    color: white;
    font-size: 20px;
  }

input[type=text], select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  


.container {
    padding: 2rem;
    width: stretch;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background:white; 

}

.flash-container {

    background:white; 

}

.form-container {

    border-radius: 5px;
    padding: 2rem;
    width: stretch;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background: #495db6;
    color: white;
    font-size: 20px;
}



.button {
    background-color:#4c57af; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button {
    transition-duration: 0.4s;
  }


  .button:hover {
    background-color: #2b40d8; 
    color: white;
  }  

  .button2 {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }

  .button2 {
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    background-color: #2b40d8; 
    color: white;
  }

  .deletebtn {

    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

  }
  

 

  .card {
    
    text-align: center;
    border: rgb(82, 148, 218) solid 3px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px  #4c57af;
    transition: all 0.8s ease;
    transform-style: preserve-3d;  
} 

  .card:hover {

    cursor: pointer;
  }

  .flipCard{
      transform: rotateY(180deg);
  }



  .front {

    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;

  }

  .back {

    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 12rem;
    height: 20rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #4c57af;
    color: black;
    transform: rotateY(180deg);
        
    }
  