body {
    margin: 0;
    font-family: monospace;
}

.container {
    padding: 2rem;
    width: stretch;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background: #9ea8b3;
    /* opacity: .9;  */

}

.flash-container {

    background: #9ea8b3 

}

.form-container {
    padding: 2rem;
    width: stretch;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background: #495db6;
    /* opacity: .8;  */

}

.button {
    background-color: #4c98af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4c57af; /* Green */
    color: white;
  }  

 

  .card {
    
    text-align: center;
    border: rgb(82, 148, 218) solid 3px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px  #4c57af;
    transition: all 0.8s ease;
    transform-style: preserve-3d;  
} 

  .card:hover {
    cursor: pointer;
    transform: rotateY(180deg); 
  }



  .front {

   
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;

  }

  .back {

    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 10rem;
    height: 18rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
    transform: rotateY(180deg);
        
    }
  